<% if @production.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@production.errors.count, "error") %>
      prohibited this production from being saved to the database:
    </h2>
 
    <ul>
    <% @production.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @production do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <br><br>

    <%= f.label :opening %>
    <%= f.datetime_select :opening %>

    <br><br>

    <%= f.label :closing %>
    <%= f.datetime_select :closing %>

    <br><br>

    <%# Should label be for :company_id ? %>

    <% if @production.company.nil? %>

        <%= f.label value="Company" %>

    <% end %>

    <%= company_id_field(@production) %>

    <% if @production.company.nil? %>

        <%= f.label value="Create New Company" %>
        <%= f.fields_for :company, @production.build_company do |cf| %>
            <%= cf.text_field :name %>
        <% end %>

    <% end %>

    <br><br>

    <%= f.submit %>

<% end %>