<% if !user_signed_in? %>
    <h1><%= link_to 'Signup', new_user_registration_path %> or <%= link_to 'Login', new_user_session_path %> to create or edit a production program!<h1>
<% else %>
    <%# binding.pry %>
    <h1>Production Dashboard</h1>
    <h2><%= link_to 'Create New Production', new_production_path %></h2>
    <h2>My Drafts</h2>
        <% current_user.productions.unpublished.each do |production| %>
                <h4><%= link_to production.title, production_path(production) %></h4>
                    <ul>
                        <li><%= link_to 'Edit', edit_production_path(production) %></li>
                        <li><%= link_to 'Publish this Production', publish_production_path(production) %></li>
                        <li><%= button_to "Delete", productions_path(production), method: :delete %></li>
                    </ul>
        <% end %>
<br>
    <h2>My Live Productions</h2>
        <% current_user.productions.upcoming.each do |production| %>
            <h4><%= link_to production.title, production_path(production) %></h4>
                <ul>
                    <li><%= link_to 'Edit', edit_production_path(production) %></li>
                    <li><%= link_to 'Unpublish this Production', publish_production_path(production) %></li>
                    <li><%= button_to "Delete", productions_path(production), method: :delete %></li>
                </ul>                 
        <% end %>
        <% current_user.productions.current.each do |production| %>
            <h4><%= link_to production.title, production_path(production) %></h4>
                <ul>
                    <li><%= link_to 'Edit', edit_production_path(production) %></li>
                    <li><%= link_to 'Unpublish this Production', publish_production_path(production) %></li>
                    <li><%= button_to "Delete", productions_path(production), method: :delete %></li>
                </ul>
        <% end %>
<br>
    <h2>My Archive</h2>
        <% current_user.productions.past.each do |production| %>
            <h4><%= link_to production.title, production_path(production) %></h4>
                <ul>
                    <li><%= link_to 'Edit', edit_production_path(production) %></li>
                    <li><%= link_to 'Unpublish this Production', publish_production_path(production) %></li>
                    <li><%= button_to "Delete", productions_path(production), method: :delete %></li>
                </ul>
        <% end %>
<br>
    <h2><%= link_to 'See All My Companies', companies_path %></h2>
    <h3>Explore:</h3>
    <ul>
        <li><%= link_to 'Browse All Shows', productions_path %></li>
        <li><%= link_to 'Browse All Companies', companies_path %></li>
    </ul>
<% end %>